In [201]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [202]:
data=pd.read_csv('Company_Data.csv')

In [203]:
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [204]:
# now checking fro null values

In [205]:
data.isna().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [206]:
# now checking for datatypes are correct are not

In [207]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [208]:
data.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [209]:
# checked the dataset size
data.shape

(400, 11)

In [210]:
data.head(3)

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes

In [211]:
data1=pd.get_dummies(data)

In [212]:
data1

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,6.14,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,7.41,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,5.94,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,9.71,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [213]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sales             400 non-null    float64
 1   CompPrice         400 non-null    int64
 2   Income            400 non-null    int64
 3   Advertising       400 non-null    int64
 4   Population        400 non-null    int64
 5   Price             400 non-null    int64
 6   Age               400 non-null    int64
 7   Education         400 non-null    int64
 8   ShelveLoc_Bad     400 non-null    uint8
 9   ShelveLoc_Good    400 non-null    uint8
 10  ShelveLoc_Medium  400 non-null    uint8
 11  Urban_No          400 non-null    uint8
 12  Urban_Yes         400 non-null    uint8
 13  US_No             400 non-null    uint8
 14  US_Yes            400 non-null    uint8
dtypes: float64(1), int64(7), uint8(7)
memory usage: 27.9 KB

In [214]:
# data_x=data.iloc[:,1:]

In [215]:
from sklearn.preprocessing import StandardScaler

In [216]:
# scaler=StandardScaler()
# scaled=scaler.fit_transform(data1)

In [217]:
from sklearn.model_selection import train_test_split

In [218]:
# we are spliting into two variavle in x we are takng all features y we are taking target

In [219]:
x=data1.iloc[:,1:]
y=data1.loc[:,['Sales']]

In [220]:
from sklearn.decomposition import PCA

In [221]:
# pca=PCA(n_components=5,random_state=42)
# pc=pca.fit_transform(x)
# x=pc

In [222]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30,random_state=42)

In [223]:
# now we are using decision tree regressor

In [224]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn import tree
from sklearn.metrics import r2_score

In [225]:
# so i also use grid search cv to get best parameters for my decision tree

In [226]:
d_t=DecisionTreeRegressor()
model=d_t.fit(x_train,y_train)
param={'max_depth':list(range(1,20)),}
model=GridSearchCV(estimator=d_t,param_grid=param)

In [227]:
model.fit(x_train,y_train)

GridSearchCV(estimator=DecisionTreeRegressor(),
             param_grid={'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                       13, 14, 15, 16, 17, 18, 19]})

In [228]:
model.score(x_train,y_train)

0.8404169809770906

In [229]:
model.best_params_

{'max_depth': 6}

In [230]:
model.best_score_

0.31200782982460107

In [231]:
y_pred=model.predict(x_test)

In [232]:
model.score(x_test,y_test)

0.5088284549825276

In [233]:
r2_score(y_pred,y_test)

0.38322108453338866

In [234]:
# tree.plot_tree(model)
# plt.show()

In [235]:
# now i tried linear regression

In [236]:
from sklearn.linear_model import LinearRegression

In [237]:
lr=LinearRegression()
model1=lr.fit(x_train,y_train)

In [238]:
model1.score(x_train,y_train)

0.8736975982521391

In [239]:
y_pred=model1.predict(x_test)

In [240]:
# chceked score 
r2_score(y_pred,y_test)

0.8547985691089013

In [241]:
model1.intercept_

array([8.34798366])

In [242]:
# checked coefficient
model1.coef_

array([[ 9.32199111e-02,  1.38928831e-02,  1.26539639e-01,
         3.83937794e-04, -9.76617099e-02, -4.72041385e-02,
        -2.75854757e-02, -2.33356063e+00,  2.57186608e+00,
        -2.38305446e-01, -6.41521292e-02,  6.41521292e-02,
         1.42274574e-01, -1.42274574e-01]])

###  after comparing both algorithms the linear regression is more accurate then desicion tree